.network__list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.network__link{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        background-color: var(--effect-text-color);
    }
    &:not(:last-child){
        margin-right: 10px;
    }
}
// .network__link:not(:last-child){
//     margin-right: 10px;
// }
.network-icon{
    fill: var(--icons-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .network__link:hover{
        fill: var(--basic-color);
    }
    .network__link:focus{
        fill: var(--basic-color);
    }
}
// .network__link:hover,
// .network__link:focus{
//     background-color: var(--effect-text-color);
// }
// .network__link:hover .network-icon{
//     fill: var(--basic-color);
// }
// .network__link:focus .network-icon{
//     fill: var(--basic-color);
// }