.clients__item{
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover{
        border: 1px solid var(--effect-text-color);
    }
    &:not(:last-child){
        margin-right: 30px;
    }
}
.clients__icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--icons-color);
}
.clients__item:hover .clients__icon{
    fill: var(--effect-text-color);
}
// .clients__item:not(:last-child){
//     margin-right: 30px;
// }
// .clients__item:hover{
//     border: 1px solid var(--effect-text-color);
// }